@import "tailwindcss";

html {
  background-color: #1e1e1e;
  color: #fff;
}

:root {
  --image-size: "100% 100%";
}

@theme {
  --animate-wave: wave 1.2s ease-in-out infinite;
  @keyframes wave {
    0%,
    60%,
    100% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-15px);
    }
  }
}
